@charset "UTF-8";

* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    background-color: rgba(72, 255, 0, 0.603);
    width: 120px;
 
    margin: auto;
    margin-top: 40px;
}

.item1, .item2, .item3, .item4 {
    background-color: rgba(0, 0, 255, 0.63);
    border: 1px solid black;
    width: 70px;
    height: 70px;
    text-align: center;
}