@charset "UTF-8";

div {
    width: 200px;
    height: 200px;
    margin: 0px;
    display: inline-block;
    border: 0px solid black;
}

p {
    text-align: center;
}

#um {
    background-color: red;
    padding-left: 10px;
}

#dois {
    background-color: green;
}